@font-face {
    font-family: 'IntroRegular';
    src: url('fonts/IntroRegular/IntroRegular.eot');
    src: url('fonts/IntroRegular/IntroRegular.eot') format('embedded-opentype'),
         url('fonts/IntroRegular/IntroRegular.woff') format('woff'),
         url('fonts/IntroRegular/IntroRegular.ttf') format('truetype')
}
@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro/MyriadProRegular.eot');
    src: url('fonts/MyriadPro/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadPro/MyriadProRegular.ttf') format('truetype')
}