html {
    height: 100%;
    min-height: 100%;
}
body{
    font-family: "IntroRegular", sans-serif;	
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: inherit;
    height: 100%;
    min-height: 100%;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.wrap{
    background: url(../img/bg2.jpg) 50% 50% no-repeat #0c4b6e;
    background-size: cover;
    min-height: 100%;
}
header{
    padding-top: 60px;
    width: 745px;
    margin: 0 auto;
}
header .toggle-menu{
    display: none;
}
header .logo{
    margin: 0 auto;
    text-align: center;
}
header .logo a{
    background: url(../img/logo.png) 50% 50% no-repeat transparent;
    background-size: contain;
    width: 80px;
    height: 60px;
    display: inline-block;
}
header .user-block{
    float: right;
    margin: -5px 30px 0 0;
}
header .user-block>div{
    display: inline-block;
    margin-right: 5px;
}
header .user-block>div:last-of-type{
    margin-right: 0px;
}
header .user-block a{
    color: #fff;
}
header .menu{
    clear: both;
    width: 745px;
    margin: 15px auto 0 auto;
}
header .menu ul li{
    float: left;
    width: 149px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    border: 2px solid #fff;
    border-left: none; 
}
header .menu ul li a{
    color: #fff;
}
header .menu ul li.active{ 
    background: #0045d0;
}
header .menu ul li.active a{ 
    color: #fff;
}
header .menu ul li:first-of-type{
    border-left: 2px solid #fff;
}
header:after{
    content: '';
    display: block;
    clear: both;
}
.content{
    font-size: 12px;
}

/* helper styles*/

.btn.btn-mio{
    color: #fff;
    background: #0045d0;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 20px;
}
.form-control {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 2px solid #fff;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.dropdown li.active {
    font-weight: normal;
}
.dropdown li.focus {
    background: #229abd;
    color: #fff;
}
.table{
    width: 100%;
}
.table .table-th,
.table .table-tr{
    display: table;
    width: 100%;
    font-size: 18px;
}
.table .table-th>div{
    font-size: 12px;
}
.table .table-th>div,
.table .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 15px 0;
    width: 33%;
}
.table .table-tr>div{
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.table .table-tr>div:last-child{
    border-right: 2px solid #fff;
}
.table .table-tr:last-child>div{
    border-bottom: 2px solid #fff;
}
.table .table-tr>div.table-td-mobile{
    display: none;
    border: none;
    border-top: 2px solid #3640E0;
    color: #3640E0;
    font-size: 12px;
}
.table .table-tr>div.table-td-mobile:first-child{
    border: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs li {
    border: 3px solid #0045d0;
    border-right: none;
}
.nav-tabs li:last-child {
    border-right: 3px solid #0045d0;
}
.nav-tabs li a{
    margin: 0;
    color: #0045d0;
    border: none;
    border-radius: 0;
}
.nav-tabs li.active a{
    background: #0045d0;
    border: none;
    color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    border: none;
    background-color: #0045d0;
}

/* Faq page */
.content.content-faq{
    width: 745px;
    margin: 45px auto 100px auto;
}
.content-faq .question-block{
    margin-bottom: 20px;
}
.content-faq .question-block .question-title{
    text-align: center;
    color: #2d3389;
    font-size: 18px;
    margin-bottom: 15px;
}
.content-faq .question-block .question-text{
    color: #2d3389;
    margin-bottom: 15px;
}
.content-faq .question-block .answer-title{
    text-align: center;
    margin-bottom: 15px;
}
.content-faq .question-block .answer-title a{
    color: #3742e3;
    font-size: 18px;
    display: inline-block;
    padding-right: 30px;
    background: url(../img/arr-blue-down.png) 100% 50% no-repeat transparent;
}
.content-faq .question-block .answer-text{
    color: #3742e3;
    display: none;
}

/* Feedback page */
.content.content-feedback{
    width: 745px;
    margin: 20px auto 0px auto;
}
.content-feedback h1.title{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.content-feedback .category-block{
    margin-bottom: 15px;
    border: 3px solid #0045d0;
    padding: 5px 25px 15px 25px;
    background: rgba(255, 255, 255, 0.5);
}
.content-feedback .category-block__top{
    margin-bottom: 5px;
    border-bottom: 3px solid #0045d0;
    color: #0045d0;
    font-size: 18px;
    padding-bottom: 3px;
}
.content-feedback .category-block__top .category_name,
.content-feedback .category-block__top .category_status{
    display: inline-block;
}
.content-feedback .category-block__top .category_status{
    float: right;
}
.content-feedback .category-block .question-title{
    color: #2d3389;
    margin-bottom: 5px;
}
.content-feedback .category-block .question-text{
    color: #2d3389;
    margin-bottom: 10px;
}
.content-feedback .category-block .answer-title{
    margin-bottom: 5px;
    color: #3742e3;
}
.content-feedback .category-block .answer-text{
    color: #3742e3;
}
.content-feedback .category-block .answer-btn-block{
    text-align: center;
    margin-top: 10px;
}
.content-feedback .question-btn-block{
    text-align: center;
    margin-top: 10px;
}


/** feedback-form page **/

.content.content-feedback_form{
    width: 590px;
    margin: 80px auto 80px auto;
}
.content-feedback_form .form-group{
    margin-bottom: 10px;
}
.content-feedback_form .form-group label{
    width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
}
.content-feedback_form .form-group label,
.content-feedback_form .form-group .help-block.help-block-error{
    width: 155px;
    display: inline-block;
    vertical-align: middle;
}
.content-feedback_form .form-group .help-block.help-block-error{
    margin: 0 0 0 15px;
    font-size: 7px;
    color: #0045d0;
}
.content-feedback_form .form-group input,
.content-feedback_form .form-group textarea,
.content-feedback_form .form-group select,
.content-feedback_form .form-group .dropdown{
    width: 235px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: #2D3389;
    font-family: "IntroRegular";
    box-sizing: border-box;
}
.content-feedback_form .form-group textarea{
    height: 70px;
}
.content-feedback_form .form-group .dropdown{
    float: none;
    border-color: #fff;
}
.content-feedback_form .fileform { 
    display: inline-block;
    background-color: transparent;
    box-sizing:border-box;
    border:2px solid #fff;
    cursor: pointer;
    height: 28px;
    padding: 0 0 0 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 235px;
    position: relative;
}
.content-feedback_form .fileform .selectbutton { 
    background-color: #fff;
    color: #2D3389;
    float: right;
    font-size: 10px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    margin-top: -2px;
    font-family: 'IntroRegular';
    margin-right: -2px;
}
.content-feedback_form .fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    height: 24px; 
    z-index:20;
    padding: 0;
    padding-left: 10px;
}
.content-feedback_form .fileform #fileformlabel { 
    background-color: transparent;
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    width:140px;
    font-size: 10px;
    padding-left: 10px;
}
.content-feedback_form .captcha-callback{
    padding: 30px 0;
}
.content-feedback_form .captcha-wrapper{
    width: 192px;
    height: 81px;
    margin: 0 auto;
}
.content-feedback_form .submit-block { 
    text-align: center;
}
.content-feedback_form .submit-block .btn { 
    padding: 10px 60px;
}
.content-feedback_form .form-control::-moz-placeholder {
  opacity: 0;
}
.content-feedback_form .form-control:-ms-input-placeholder {
  opacity: 0;
}
.content-feedback_form .form-control::-webkit-input-placeholder {
  opacity: 0;
}

/** content-winners page **/

.content.content-winners{
    width: 745px;
    margin: 25px auto 25px auto;
}
.content-winners .filter-block{
    width: 250px;
    margin: 0 auto 35px auto;
    text-align: center;
}
.content-winners .filter-block .form-control{
    color: #fff;
    text-align: center;
}
.content-winners .filter-block .form-control input{
    color: #fff;
    text-align: center;
}
.content-winners .filter-block .submit-block .btn{
    width: 100%;
}
.content-winners .nav-tabs li {
    width: 33%;
    text-align: center;
}
.content-winners .nav-tabs li a {
    font-size: 11px;
}
.tabs-wins-wrapper .table{
	color: #fff;
	font-size: 18px;
	width: 100%;
	box-sizing:border-box;
	border-collapse: collapse;
	margin-bottom: 25px;
        margin-top: 10px;
}
.tabs-wins-wrapper .table .table-th>div,
.tabs-wins-wrapper .table .table-tr>div{
	text-align: center;
        height: 45px;
}
.tabs-wins-wrapper .table .table-tr>div{
	padding: 10px 0;	
}
.tabs-wins-wrapper .table .table-th>div{
	font-size: 12px;
}
.pagination ul{
	font-size: 0;
	margin-bottom: 20px;
}
.pagination ul li{
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
}
.pagination ul li a{
	display: inline-block;
	width: 50px;
	box-sizing:border-box;
	border:2px solid #fff;
	padding: 10px 0;
	text-align: center;
	margin-right: 13px;
        color: #fff;
}
.pagination ul li a.active{
	color: #2D3389;
	background-color: #fff;
}

/** content-about page **/
.content.content-about{
    width: 1140px;
    margin: 60px auto 70px auto;
}
.content-about .cans{
    text-align: center;
}
.content-about .cans:after{
    content: '';
    display: block;
    clear: both;
}
.content-about .cans .can{
    width: 157px;
    padding-top: 350px;
    text-align: center;
    float: left;
    background: url(../img/cans.png) 50% 0% no-repeat transparent;
}
.content-about .cans .can-1{
    background-position: 0 0;
    width: 250px;
    padding-left: 93px;
}
.content-about .cans .can-2{
    background-position: -253px 0;
}
.content-about .cans .can-3{
    background-position: -410px 0;
}
.content-about .cans .can-4{
    background-position: -565px 0;
}
.content-about .cans .can-5{
    background-position: -721px 0;
}
.content-about .cans .can-6{
    background-position: -876px 0;
    width: 250px;
    padding-right: 93px;
}
.content-about .can .text{
    border-right: 1px solid #fff;
    height: 95px;
    padding: 0 5px;
    font-size: 10px;
    font-family: 'MyriadPro';
}
.content-about .can:last-of-type .text{
    border-right: none;
}
.content-about .can .text .name{
    font-weight: bold;
    font-family: 'IntroRegular';
}

/** content-rules page **/
.content.content-rules{
    width: 980px;
    margin: 20px auto 40px auto;
    text-align: center;
}
.content-rules .competition .title{
    font-size: 18px;
    color: #e41b13;
    margin-bottom: 10px;
}
.content-rules .mehanika{
    margin-bottom: 15px;
}
.content-rules .mehanika .step{
    display: inline-block;
    vertical-align: middle;
    width: 195px;
    height: 180px;
    line-height: 180px;
    border: 3px solid #fff;
    padding: 0px 40px;
    box-sizing: border-box;
}
.content-rules .step .text{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.content-rules .step.last-step .text{
    font-size: 18px;
}
.content-rules .mehanika .arrow{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/arrow-right.png) 50% 50% no-repeat transparent;
    margin: 0 15px;
}
.content-rules .periods{
    margin-bottom: 20px;
    font-size: 14px;
}
.content-rules .competition-1{
    margin-bottom: 15px;
}
.content-rules .competition-1 .note{
    font-size: 11px;
    color: #e41b13;
    white-space: pre-line;
}
.content-rules .competition-1 .step.last-step{
    padding: 0 5px;
    text-align: center;
}
.content-rules .competition-1 .iphone{
    display: inline-block;
    margin-top: 5px;
    background: url(../img/iphone.png) 50% 50% no-repeat transparent;
    width: 158px;
    height: 83px;
}
.content-rules .competition-2 .step{
    padding: 0 25px;
}
.content-rules .competition-2 .step.last-step{
    padding: 0 5px;
}
.content-rules .competition-2 .step .text{
    font-size: 16px;
}
.content-rules .competition-2 .step.last-step .text{
    font-size: 16px;
    color: #e41b13;
    white-space: pre-line;
}
.content-rules .competition-2 .note{
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
.content-rules .competition-2 .rules-download a{
    font-size: 14px;
    color: #e41b13;
}

/** content-signup page **/
.content.content-signup{
    width: 600px;
    margin: 30px auto 40px auto;
}
.content-signup .title{
    text-align: center;
    color: #0045d0;
    font-size: 18px;
    margin-bottom: 7px;
}
.content-signup .social-block{
    color: #0045d0;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}
.content-signup .social-block .vk-ico,
.content-signup .social-block .fb-ico,
.content-signup .social-block .ok-ico{
    background: url(../img/socials.png) 0% 50% no-repeat transparent;
    width: 20px;
    height: 18px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: -1px;
}
.content-signup .social-block .fb-ico{
    background-position: -31px 50%;
}
.content-signup .social-block .ok-ico{
    background-position: -60px 50%;
}
.content-signup .form-error{
    color: #e41b13;
    font-size: 9px;
    text-align: center;
    margin-bottom: 10px;
}
.content-signup .form-group{
    margin-bottom: 10px;
}
.content-signup .form-group label,
.content-signup .form-group .help-block.help-block-error{
    width: 155px;
    display: inline-block;
    vertical-align: middle;
}
.content-signup .form-group .help-block.help-block-error{
    margin: 0 0 0 15px;
    font-size: 7px;
    color: #0045d0;
}
.content-signup .form-group label{
    width: 170px;
    text-align: right;
    margin-right: 15px;
    font-size: 9px;
    font-weight: normal;
    color: #fff;
}
.content-signup .form-group input,
.content-signup .sex-select-block{
    width: 235px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: #2D3389;
    font-family: "IntroRegular";
    box-sizing: border-box;
}
.content-signup .submit-block { 
    text-align: center;
}
.content-signup .submit-block .btn { 
    padding: 10px 60px;
}
.content-signup .form-control::-moz-placeholder {
  opacity: 0;
}
.content-signup .form-control:-ms-input-placeholder {
  opacity: 0;
}
.content-signup .form-control::-webkit-input-placeholder {
  opacity: 0;
}
.content-signup .sex-select-block{ 
    padding: 0;
}
.content-signup .radio-block{ 
    float: left;
    width: 50%;
    padding-top: 8px;
    height: 100%;
    padding-left: 15px;
}
.content-signup .radio-block:first-of-type{ 
    border-right: 3px solid #fff;
}
.content-signup .radio-block input,
.content-signup .checkbox-block input{ 
    display: none;
}
.content-signup .radio-block .radio-btn,
.content-signup .checkbox-block .checkbox-btn{ 
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: #0045d0;
    border: 3px solid #0045d0;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 2px;
}
.content-signup .radio-block.checked .radio-btn,
.content-signup .checkbox-block.checked .checkbox-btn{
    background: #f8ca00;
}
.content-signup .agree-and-captcha{
    margin-bottom: 25px;
}
.content-signup .agree-blocks{
    display: inline-block;
    vertical-align: middle;
}
.content-signup label a{ 
    color: #0045d0;
}
.content-signup .form-group:last-of-type{ 
    margin-bottom: 0;
}
.content-signup .checkbox-block{ 
    width: 35px;
    height: 25px;
    line-height: 22px;
    vertical-align: top;
    border: 2px solid #0045d0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.content-signup .checkbox-block.checked{
    border-color: #fff;
}
.content-signup .checkbox-block .checkbox-btn{ 
    margin: 0px;
}
.content-signup .agree-blocks .help-block.help-block-error {
    margin-left: 5px;
}
.content-signup .captcha-callback{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.content-signup .captcha-wrapper{
    width: 192px;
    height: 81px;
    margin: 0 auto;
}



footer{
    margin-top: 20px;
    padding-bottom: 40px;
}
footer .footer-menu{
    text-align: center;
}
footer .footer-menu li{
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}
footer .footer-menu li:last-of-type{
    margin-right: none;
}
footer .footer-menu li a{
    color: #fff;
}
footer .footer-menu li.active a{
    color: #0045d0;
}