/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */
.dropdown{
	position: relative;
	width: 160px;
	cursor: pointer;
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: 'IntroRegular';
	float: left;
	color: #2D3389;
	border:2px solid #2D3389;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover{
	box-shadow: 0 0 2px rgba(0,0,0,.15);
}
.dropdown.focus{
	box-shadow: 0 0 2px rgba(51,102,248,.4);
}
/* CARAT */
.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -4px;
	border: 6px solid transparent;
	border-top: 6px solid #2D3389;
}
.dropdown.open .carat{
	border: 5px solid transparent;
	border-bottom: 6px solid #2D3389;
	margin-top: -9px;
}
.dropdown.disabled .carat{
	border-top-color: #f8ca00;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch .old{
	width: 100%;
	height: 100%;
}
.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 10px;
	line-height: 1;
	color: #2D3389;
	padding: 7px 10px;
	overflow: hidden;
	white-space: nowrap;
}
.dropdown.disabled .selected{
	color: #999;
}


/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: -2px;
	right: -2px;
	top: 100%;
	margin-top: 0;
	background: #dadada;
	border: 2px solid #2D3389;
	border-top: 1px solid #2D3389;
	overflow: hidden;
	opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding: 8px 12px;
}

/* .focus class is also added on hover */
.dropdown li.focus{
	background: #f8ca00;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	font-weight: 700;
}